@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-primary-bg: #F9F8F6;
  --color-secondary-bg: #EFEDEA;
  --color-accent: #C48F5D;
  --color-editorial-black: #1A1A1A;
}

:root.dark {
  --color-primary-bg: #1A1A1A;
  --color-secondary-bg: #2D2D2D;
  --color-accent: #C48F5D;
  --color-editorial-black: #F9F8F6;
}

body {
  @apply bg-primary-bg text-editorial-black font-sans transition-colors;
}

html.dark {
  @apply bg-primary-bg text-editorial-black;
}